<h2 class="mt-2">Log In</h2>
<div class="mt-2">
<%= form_with do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true, class: "form-control" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Log In", class: "btn btn-success mt-2" %>
  </div>
<% end %>
</div>

<div class="mt-5">
<small class="text-muted">Not a member yet? <%= link_to 'Register now.', new_user_path, class: "p-0"%></span>
</div>
