<h1>Log In</h1>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Log In" %>
  </div>
<% end %>

<div class="mt-5">
<span class="small">Not a member yet?</span>
<h4><%= link_to 'Sign Up Now', new_user_path, class: "nav-link text-success p-0"%></h4>
</div>